
/* BUTTONS */

a.button{    
	text-align:center;
	text-transform:uppercase;
	font-family: $font-stack;
	font-weight:600;
	display:inline-block;
    transition:all 0.3s ease;
    @include border-radius(2px);
	
	&:hover{   
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
	    z-index: 99;
	}

	&.large{
		max-width:180px; 
		padding:10px 14px 8px 14px;
	}
	&.small{
		max-width:120px; 
		padding:8px;
	}

	&.primary{
		color:#fff; 
		font-size:16px;
	}
	&.primary {
		background-color:$color-primary; 
	}
	&.primary:hover{
		background-color:$color-primary-hover;
	}

	&.secondary{
		color:#fff; 
		font-size:16px;
	}
	&.secondary {
		background-color:$color-secondary; 
	}
	&.secondary:hover{
		background-color:$color-secondary-hover;
	}

}