
/* SIDEBAR */

#sidebar {
	width: 100%;
	padding:0px 0px;
	margin:0px;

	& .widget, .sidebar.widget{
		margin-bottom:25px; 
		display:block; 
	}

	& ul li, & ul li {
		list-style-type: none;
		list-style-image: none;
	}
	
	& ul, & ul ol, & ul {
		margin: 0px; 
		padding: 0px;
	}
	& ul ul, & ul ol, & ul ul {
		margin: 0px;
	}
	& ul ul ul, & ul ol, & ul ul ul {
		margin: 0 0 0 20px;
	}
	& ul ul li, & ul ol li, & ul ul li {
		margin: 0px;
		padding: 0px;
	}
	& ul li a, & ul li a{
		margin:6px 0px 0px 0px;
		padding:5px 0px 0px 0px;
		display:block;
		border-top:1px solid #efefef;
	}
	& ul ul li a, & ul ul li a{
		margin:5px 0px 0px 0px;
		padding:5px 0px 0px 10px;
		display:block;
		color:#444;
		font-size:12px;
		line-height:16px;
	}
	& ul li.current_page_item a, & ul li.widget_subpages_current_page a, .sidebar ul li.widget_subpages_current_page a{
		font-weight:700;
	} 
}